html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margins:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
/*fnt*/
@font-face {
    font-family: 'nok';
    src: url('/type/Courier New.woff') format(woff);
    src: url('/type/Courier New.woff2') format(woff2);
}
@font-face {
    font-family: 'pol';
    src: url('/type/pol.woff') format(woff);
    src: url('/type/pol.woff2') format(woff2);
}
@font-face {
    font-family: 'combat';
    src: url('/type/combat.woff') format(woff);
    src: url('/type/combat.woff2') format(woff2);
}
/*main*/
body{
    margin:0;
    background:#000000 200px url('/img/bg/12.gif');
    font:'Courier New';
    color:#ffffff
}
#main{
    margin:20px auto;
    width:606px;
    background:#000;
    border:1px #fff solid;
    height:750px
}
#main td,#main th{
    padding:0px;
    border-spacing:0px
}
#hed{
    background:#800000 url('/img/banner/0.gif');
    background-position:0px 20px;
    height:85px;
	text-align: center
}
#newsflash {
	height:15px;
	width:100%;
	background:#000;
	color:#fff;
    font-family: 'Courier New';
}
#newsflash marquee {
	width:100%;
	font-size:10px;
}
/*nav*/
#nvw{
    height:30px
}
#nav{
    width:100%;
    height:100%;
    border:3px #fff solid;
    text-align:center
}
#nav td{
    background:linear-gradient(#000,#1e1e1e,#000) top left/100% 100%;
}
#nav a{
    border-right:1px solid #2A2A2A;
    color:#fff;
    display:block;
    font-family: 'Courier New';
    font-size:.9em;
    padding:5px;
    text-transform:uppercase;
    text-decoration:none
}
#nav a:hover{
    background:#f0f0f0 linear-gradient(#434343 5%,#fff 25%,#fff 75%,#434343 95%) top left/100% 100%;
    color:#000;
    text-decoration:none
}
#emoInfoNav{
  background-color:#000;
  color:#fff;
  padding:4px 10px;
  margin-bottom:5px;
  border:1px solid #8E0909;
  font-family: 'Courier New';
}
#emoInfoNav a{
  color:#fff;
}
#emoInfoNav a.current,
#emoInfoNav a:hover{
  color:#8E0909;
  text-decoration:none
}
/*mid*/
#mdw{
    width:450px;
    vertical-align:top;
    height:100%;
    background:#000
}
#mid{
    height:100%;
    width:100%;
    color:#fff
}
#wrp{
    height:630px;
    overflow-y:auto
}
#cnt{
    height:100%;
    width:100%;
    background:#222;
    overflow-y:auto
}
#cnt ul{
    font-family: 'Courier New';
    text-align:left;
    list-style-image:url('/img/px/13.gif');
    list-style-position:inside
}
#cnt h1, #cnt h2{
  background-color: inherit;
  color: #800000;
  font-family: 'combat';
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 0 12px;
  padding: 0;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
#cnt h1{
  text-transform: uppercase;
}
#cnt h2{
  font-size:1.2em;
  margin-bottom:10px
}
#cnt h3 {
  font-size:1.4em;
  color:#8E0909
}
#cnt h3 a {
  color:#8E0909;
  text-decoration:none
}
#wrp{
  scrollbar-color: #666 #fff;
  scrollbar-width: thin
}
#rgt{
    width:150px;
    vertical-align:top;
    text-align:center;
    background:#000;
    color:#fff;
    padding:10px
}
#rgt a{
    color:#fff;
	font-family: 'Courier New';
}
#rgt h1, #rgt h2 {
  background-color: inherit;
  color: #fff;
  font-family: 'combat'; 
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 0 10px;
  padding: 0;
}
#rgt h2 {
  font-size:1em;
  margin-bottom:10px
}
#fr ul{
    text-align:left;
    list-style-position:inside
}
#fr li{
	font-family: 'Courier New';
	padding: 3px;
	width: 130px;
    margin: auto;
    margin: auto;
    text-align: right;
    background:linear-gradient(#000,#1e1e1e,#000) top left/100% 100%;
	border: 1px solid #999;
	color: #fff;
	list-style-type: none
}
#fr li:hover{
    cursor:url(/img/cur/11.png),pointer;
    -webkit-animation:link 300ms infinite;
    animation:link 700ms infinite;
    background:linear-gradient(#000,#666,#000) top left/100% 100%;
	border: 1px solid #999;
	text-decoration:none;
	color: #ff0000;
	list-style-type: none;
	
}
#fr a:hover{
	text-decoration:none
}
#upd ul{
    text-align:left;
    list-style-image:url('/img/px/16.gif');
    list-style-position:inside
}
#upd{
    height:120px;
    width:100px;
    background:#fff;
    border:2px #800000 solid;
    overflow-y:scroll;
    word-wrap:break-word;
    font-size:12px;
    color:#000;
    padding:20px 10px 0px;
}

#upd{
  scrollbar-color: #800000 #fff;
  scrollbar-width: thin
}
h4 {
  background-color: inherit;
  color: #000;
  font-family:'Courier New';
  font-size: 1.2em;
  font-weight: 1000;
  letter-spacing: -1px;
  margin: 0 0 8px;
  padding: 0;
}
#upd a{
    color:#800000
}
#ft {
    height:150px;
	width: 200px;
    background:#fff;
    border:2px #800000 solid;
    word-wrap:break-word;
    font-size:12px;
    color:#000;
    padding:10px 10px 0px;
}

/*footer*/
#fot{
    background:linear-gradient(#8f090a,#000);
    border-top:2px #fff solid;
    height:50px;
    width:100%;
    color: #fff;
    text-align:center;
	line-height:0;
}
#fot a{
    color:#fff;
    text-decoration:none
}
#fot a:hover{
    color:#fff;
    text-decoration:underline
}
#fot p {
	line-height: 0.5em;
}
/*index*/
#ind{
    margin:100px auto;
    height:auto;
    width:400px
}
#ent{
    margin:auto;
    height:200px;
    width:350px;
    border:2px #fff solid;
    background:linear-gradient(#800000, #000);
	text-align: center;
}
#ent:hover{
    margin:auto;
    height:200px;
    width:350px;
    border:2px #fff solid;
    background:linear-gradient(#ff0000, #000)
}
#ent h1{
	font-size: 70px;
	color: #fff;
}
/*table*/
.tab{
    border-spacing:5px;
    text-align:center;
    background:linear-gradient(#800000,#000);
    border:1px #000 solid;
    padding:10px;
    margin:auto;
    width:100%
}
.tab td,.tab th{
    text-align:center;
    padding:3px;
    color:#000;
    background:#fff
}

/*blg*/
.form-panel{
    margin:auto;
    line-height:25px;
    padding:10px;
    border:#000 2px solid;
	background: url('/img/bg/10.gif');
    color:#000;
    text-align:left;
    height:400px;
    overflow-y:auto
}
.form-panel:not(.active){
    display:none
}

.form-panel{
  scrollbar-color: #333 #000;
  scrollbar-width: thin
}

/*art*/
#art img {
  border:1px solid #fff;
  float:none;
  margin:5px 5px 6px;
  padding:4px;
  width: 370px;
}
#ani img {
  border:1px solid #fff;
  float:none;
  margin:5px 5px 6px;
  padding:4px;
  width: 100px;
  height: 100px;
}
.draw-panel{
    margin:auto;
}
.draw-panel:not(.active){
    display:none
}

/*fursona*/
#lobo{
    margin:auto;
    height:584px;
    width:250px;
	background: url('/img/lobo/lobo1.gif');
}
#lobo:hover{
    
    margin:auto;
    height:584px;
    width:250px;
	background: url('/img/lobo/lobo2 .gif');
}

.cl{transition:.1s;filter:invert(0%) opacity(1.0);position:absolute;image-rendering:pixelated}
.cl:hover{opacity:0;transition:1.5s cubic-bezier(0,0.8,0.3,.8);filter:invert(100%) opacity(0.0)}

/*txt*/
p {
	font-family:'Courier New';
}
.tit{
    font-weight:666;
    color:#800000;
    padding:3px 6px;
    background:#000;
    text-transform:uppercase
}
strong{
    font-weight:666;
    font-family: 'Courier New';
}
span{
	font-family: 'Courier New';
    background:linear-gradient(90deg,rgba(0,0,0,0) 5%,#000 25%,#000 75%,rgba(0,0,0,0) 95%);
    width:100%;
    padding:3px 50px;
    border-top:#000 1px solid;
    border-bottom:#000 1px solid;
    color:#fff
}
a{
    text-decoration:none;
    font-weight:666;
	color:#ff0000;
}
a:hover{
    text-decoration:underline;
    font-weight:666;
	color:#ff0000;
}
/*misc*/
.spcr {
	margin: 5px;
	opacity:0%;
}
.indt {
	text-indent: 15px;
}
.indt2 {
	text-indent: 30px;
}
.indt3 {
	text-indent: 45px;
}
.dl{
    float: left; 
	margin: 10px;
}

.dr {
    float: right; 
	margin: 10px;
}
.dw {
	display: inline-block;
}
#statuscafe {
    font-family: 'Courier New';
    padding: .5em;
    background-color: #333;
    border: 1px solid #000;
	color: #fff;
	width: 160px;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
#data table{
  font-family: 'Courier New';
  border: 2px solid #000;
  border-collapse: collapse;
  width: 420px;
  color: #000;
}
#data a{
  color: yellow;
  text-shadow:-1px -1px 0 #000,0   -1px 0 #000,1px -1px 0 #000,1px  0   0 #000,1px  1px 0 #000,0    1px 0 #000,-1px  1px 0 #000,-1px  0   0 #000;
}
#data th, #data td {
  text-align: left;
  padding: 4px;
  border: 1px solid #fff;
}
#data tr:nth-child(even) {background:linear-gradient(#888,#ccc,#888) top left/100% 100%}
#data tr:nth-child(odd) {background:linear-gradient(#444,#777,#444) top left/100% 100%}
#data2 table{
  font-family: 'Courier New';
  border: 2px solid #000;
  border-collapse: collapse;
  width: 156px;
  color: #000;
}
#data2 a{
  color: yellow;
  text-shadow:-1px -1px 0 #000,0   -1px 0 #000,1px -1px 0 #000,1px  0   0 #000,1px  1px 0 #000,0    1px 0 #000,-1px  1px 0 #000,-1px  0   0 #000;
}
#data2 th, #data2 td {
  text-align: left;
  padding: 4px;
  border: 1px solid #fff;
}
#data2 tr:nth-child(even) {background:linear-gradient(#888,#ccc,#888) top left/100% 100%}
#data2 tr:nth-child(odd) {background:linear-gradient(#444,#777,#444) top left/100% 100%}
.box{
    margin:auto;
    width:85%;
    height:auto;
    border:2px #800000 solid;
    padding:15px;
    background:#fff;
    color:#000;
    text-align:center
}
.sub{
    text-indent:36px
}
.center{
    margin:15px 20px;
    text-align:center
}

/*crs*/
*,body{
    cursor:url(/img/cur/1.png),pointer;
    -webkit-animation:cursor 300ms infinite;
    animation:cursor 700ms infinite
}
@-webkit-keyframes cursor{
    0%{
        cursor:url(/img/cur/1.png),pointer
    }
    12%{
        cursor:url(/img/cur/2.png),pointer
    }
    27%{
        cursor:url(/img/cur/3.png),pointer
    }
    39%{
        cursor:url(/img/cur/4.png),pointer
    }
    52%{
        cursor:url(/img/cur/5.png),pointer
    }
    67%{
        cursor:url(/img/cur/6.png),pointer
    }
    85%{
        cursor:url(/img/cur/7.png),pointer
    }
    100%{
        cursor:url((/img/cur/8.png),pointer
    }
}
@keyframes cursor{
    0%{
        cursor:url(/img/cur/1.png),pointer
    }
    12%{
        cursor:url(/img/cur/2.png),pointer
    }
    27%{
        cursor:url(/img/cur/3.png),pointer
    }
    39%{
        cursor:url(/img/cur/4.png),pointer
    }
    52%{
        cursor:url(/img/cur/5.png),pointer
    }
    67%{
        cursor:url(/img/cur/6.png),pointer
    }
    85%{
        cursor:url(/img/cur/7.png),pointer
    }
    100%{
        cursor:url((/img/cur/8.png),pointer
    }
}
a,a:hover{
    cursor:url(/img/cur/11.png),pointer;
    -webkit-animation:link 300ms infinite;
    animation:link 700ms infinite;
}
@-webkit-keyframes link{
    0%{
        cursor:url(/img/cur/11.png),pointer
    }
    12%{
        cursor:url(/img/cur/12.png),pointer
    }
    27%{
        cursor:url(/img/cur/13.png),pointer
    }
    39%{
        cursor:url(/img/cur/14.png),pointer
    }
    52%{
        cursor:url(/img/cur/15.png),pointer
    }
    67%{
        cursor:url(/img/cur/16.png),pointer
    }
    85%{
        cursor:url(/img/cur/17.png),pointer
    }
    100%{
        cursor:url((/img/cur/18.png),pointer
    }
}
@keyframes link{
    0%{
        cursor:url(/img/cur/11.png),pointer
    }
    12%{
        cursor:url(/img/cur/12.png),pointer
    }
    27%{
        cursor:url(/img/cur/13.png),pointer
    }
    39%{
        cursor:url(/img/cur/14.png),pointer
    }
    52%{
        cursor:url(/img/cur/15.png),pointer
    }
    67%{
        cursor:url(/img/cur/16.png),pointer
    }
    85%{
        cursor:url(/img/cur/17.png),pointer
    }
    100%{
        cursor:url((/img/cur/18.png),pointer
    }
}
